<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>
</head>
<body>
    <form action="/result" method="post">
        <p>Your name :<input type="text" name="name"></p>
        <p>Location:
            <select name="location">
                <option>Chicago</option>
                <option>Los Angeles</option>
                <option>Seattle</option>
                <option>San Fransicso</option>
            </select>
        </p>
        <p>Favorite Language:
            <select name="language">
                <option>Python</option>
                <option>Java</option>
                <option>Ruby</option>
                <option>Javascript</option>
            </select>
        </p>
        <p>Comment (optional):
            <textarea name="comment"></textarea>
            <input type="submit" value="Submit">
        </p>

    </form>
</body>
</html>